<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionhua.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5c3bb0d-3f29-4ec5-a378-50445901fa5a/resourceGroups/serverless-architecture-151254/providers/Microsoft.Web/sites/TollBoothFunctionHua</ResourceId>
    <UserName>$TollBoothFunctionHua</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionhua.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>